html, body, .container {
	height: 100%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.saat {
	position: relative;
	width: 400px;
	height: 400px;
	background: url(../img/saat.jpg);
}

.saat:after {
	position: absolute;
	content: '';
	background: #000;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 50%;
}

.eqreb {
	position: absolute;
	top: 0;
	left: 0;
}